<%- include("partials/header"); -%>
<style type="text/css">
	#down{
		padding-top: 100px;
	}
</style>
<div class="container" id="down">
  <h1><%=title%></h1>
  <p><%=content%></p>
</div>
<%- include("partials/footer"); -%>
